# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc
.venv/
Pipfile.lock

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Profiling data
*.prof

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Logs and local files
*.log
*.sqlite3
*.db
